---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@font-face {
    font-family: 'header';
    src: url('../fonts/cd57a6d45e900c971cf5484e22b96c443.eot');
    src: url('../fonts/cd57a6d45e900c971cf5484e22b96c443.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cd57a6d45e900c971cf5484e22b96c443.woff2') format('woff2'),
         url('../fonts/cd57a6d45e900c971cf5484e22b96c443.woff') format('woff'),
         url('../fonts/cd57a6d45e900c971cf5484e22b96c443.ttf') format('truetype'),
         url('../fonts/cd57a6d45e900c971cf5484e22b96c443.svg#brandon_grotesquemedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "bodytext";
  src: url("../fonts/cd57a6d45e900c971cf5484e22b96c44.eot");
  src: url("../fonts/cd57a6d45e900c971cf5484e22b96c44.eot?#iefix") format("embedded-opentype"),
  url("../fonts/cd57a6d45e900c971cf5484e22b96c44.woff2") format("woff2"),
  url("../fonts/cd57a6d45e900c971cf5484e22b96c44.woff") format("woff"),
  url("../fonts/cd57a6d45e900c971cf5484e22b96c44.ttf") format("truetype"),
  url("../fonts/cd57a6d45e900c971cf5484e22b96c44.svg#bodytext") format("svg");
}

// Font Styling
$base-font-family: 'bodytext', Arial, sans-serif;
$heading-font: 'header';
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

//Spacing
$spacing-unit:     10px;

//Color
$text-color:       #121212;
$background-color: #FFF;
$brand-color:      #2a7ae2;
$nav-color:        #808080;
$post-meta-color:  #828282;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    100%;
$small-devices:    600px;
$smartphone:       320px;
$tablets:          768px;
$medium-devices:   992px;
$large-devices:    1200px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "syntax-highlighting",
        "bootstrap",
       "layout"
;
