---
layout: home
title: Blog
headerimg: "/img/header/home.jpg"
ref: index
lang: en
sitemap:
    priority: 1
    changefreq: 'weekly'
    lastmod: 2016-05-09T12:49:30-05:00
---
<section class="posts-wrapper">

  <div class="posts">
      {% assign posts=site.posts | where:"lang", page.lang %}
      {% for post in posts %}
      {% unless forloop.last %}

      {% include date.html date=post.date %}
         <h2 class="post__date-title">{{month}} {{year}}</h2>
            {% else %}
            {% capture year %}{{ post.date | date: '%Y %b' }}{% endcapture %}
    	      {% capture nyear %}{{ post.next.date | date: '%Y %b' }}{% endcapture %}

      <ul class="post__month">
          {% if year != nyear %}
          <h2 class="post__date-title">{{month}} {{year}}</h2>
          {% endif %}
          {% endunless %}
          {% include date.html date=post.date %}
          <li><span class="post__date">{{ day }}{{ sup }} {{ month }} {{ year }}</span><span class="post__link"> - </span><span class="post__link"> <a href="{{ post.url }}">{{ post.title }}</a></span></li>
      </ul>
      {% endfor %}

  </div>


</section>
