---
layout: home
title: Blog
headerimg: "/img/header/home.jpg"
ref: index
lang: en
sitemap:
    priority: 1
    changefreq: 'weekly'
    lastmod: 2016-05-09T12:49:30-05:00
---
<section class="posts-wrapper">

   {% assign posts=site.posts | where:"lang", page.lang %}

  <ul class="posts">
      {% assign posts=site.posts | where:"lang", page.lang %}
      {% for post in posts %}
      {% unless post.next %}

      {% include date.html date=post.date %}
         <h2 class="post__date-title">{{month}} {{year}}</h2>
            {% else %}
      {% capture year %}{% include date.html date=post.date %}{{month}}{{year}}{% endcapture %}

      {% capture nyear %}{% include date.html date=post.date %}{{month}}{% endcapture %}

      {% if year != nyear %}
      <div class="post__month">
          <h2 class="post__date-title">{{month}} {{year}}</h2>
          {% endif %}
          {% endunless %}
          <li><span class="post__date">{{ day }}{{ sup }} {{ month }} {{ year }}</span><span class="post__link"> - </span><span class="post__link"> <a href="{{ post.url }}">{{ post.title }}</a></span></li>
      </div>
      {% endfor %}

  </ul>



</section>
