
</div>
</div>
<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="contactfooter">
        <ul class="contact-list">

          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
      <div class="copyrightfooter">
            <span>Copyright Silvan Adrian {{ site.time | date: '%Y' }}</span>

        </div>

    </div>

  </div>
</footer>
