<nav id="mynav" class="navmenu navmenu-inverse navmenu-fixed-right offcanvas" role="navigation">
    <a class="navmenu-brand" href="#">Silvan Adrian</a>    
    <ul class="nav navmenu-nav">
       <li> <a class="page-link" href="/">Projects</a></li>
        <!-- <li><a class="page-link" href="/experiments">Experiments</a></li> -->
        <li><a class="page-link" href="/photography">Photography</a></li>
        {% for page in site.pages %}
          {% if page.title %}
          <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
         <!-- <li><a class="page-link" href="http://blog.silvanadrian.ch">Blog</a></li> -->
        
  </ul>
    </nav>   

<div class="navbar navbar-default navbar-top">
      <button type="button" class="navbar-toggle" data-placement="right" data-toggle="offcanvas" data-target="#mynav" data-canvas="body">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div> 


    

<div class="site-title"><a class="site-logo" href="{{ site.baseurl }}/" title="{{ site.title }}">a</a></div> 
<div class="container">
    
     
    
<header class="site-header">

    
    
  
  <div class="wrapper col-lg-12">
      


      
  </div>

</header>
<div class="page-wrapper">