<!-- Header Wrapper -->
<header class="header">
  <nav class="header__nav">
      <div class="header__nav-left">
          <ul class="header__menu brand">
              {% for menu in site.b[page.lang] %}
                <li class="header__menu-item"><a href="{{ menu[1].url }}">Silvan Adrian</a></li>
              {% endfor %}

          </ul>
          <!-- Navigation -->
         <ul class="header__menu">
             <li class="header__menu-item"></li>
          {% for menu in site.t[page.lang] %}
            <li class="header__menu-item"><a href="{{ menu[1].url }}">{{ menu[1].name }}</a></li>
          {% endfor %}
         </ul>
      </div>
    <!-- Navigation -->

    <!-- Language Selector -->
    <ul class="header__language">
      {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
      {% for post in posts %}
      <li class="header__language-item">
          <a href="{{ post.url }}" class="header__language-item-{{ post.lang }}">{{ post.lang }}</a>
      </li>
      {% endfor %}

        {% assign projects=site.projects | where:"ref", page.ref | sort: 'lang' %}
        {% for project in projects %}
        <li class="header__language-item">
            <a href="{{ project.url }}" class="header__language-item-{{ project.lang }}">{{ project.lang }}</a>
        </li>
        {% endfor %}

      {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
      {% for page in pages %}
      <li class="header__language-item">
          <a href="{{ page.url }}" class="header__language-item-{{ page.lang }}">{{ page.lang }}</a>
      </li>
      {% endfor %}
    </ul>
    <!-- Language Selector -->
  </nav>

</header>
<!-- Header Wrapper -->

<!-- Header Image -->
<div class="header-image">
  <header>
      <h1>{{page.title}}</h1>
  </header>
</div>
<!-- Header Image -->
