<div class="site-title"><a class="site-logo" href="{{ site.baseurl }}/" title="{{ site.title }}">Silvan Adrian</a></div> 
<div class="container">
<header class="site-header">
  <div class="wrapper col-lg-12">
  <nav class="navbar">
      <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <i class="fa fa-bars"></i>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">  
    <ul class="nav navbar-nav navigation">
        <li><a class="page-link" href="/">Blog</a></li>
       	<li><a class="page-link" href="/projects/">Projects</a></li>
        <li><a class="page-link" href="/photography/">Photography</a></li>
        <li><a class="page-link" href="/about/">About</a></li>
  	</ul>
    </div>  
  </nav>     
  </div>

</header>
<div class="page-wrapper">