<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
  <title>{{ site.title }} | Photography </title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.photography }}{% endif %}">
  <meta http-equiv="expires" content="43200">
  <meta name="keywords" content="Silvan, Adrian, Frontend Developer, Backend Developer, Webdesign, Webdevelopment">
  <link rel="alternate" hreflang="en" href="https://silvanadrian.ch/">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  {% include favicon.html %}
</head>
