<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Person",
  "name" : "Silvan Adrian",
  "url" : "https://silvanadrian.ch",
  "email" : "hallo@silvanadrian.ch",
  "jobtitle" : "Frontend Entwickler",
  "sameAs" : [
    "https://www.linkedin.com/in/silvanadrian",
    "https://twitter.com/silvnsan",
    "https://silvanadrian.ch/feed.xml",
    "https://github.com/silvanadrian"
  ],
  "address" : {
  "@type" : "PostalAddress",
    "addressLocality" : "Pfäffikon ZH",
    "addressRegion" : "Zürich",
    "postalCode" : "8330"
}
}
</script>
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "WebSite",
  "name" : "Silvan Adrian",
  "alternateName" : "Silvan",
  "url" : "https://silvanadrian.ch"
}
</script>
