<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Person",
  "url": "https://silvanadrian.ch",
  "logo": "https://silvanadrian.ch/img/logo.png"
}
</script>
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Person",
  "name" : "Silvan Adrian",
  "url" : "https://silvanadrian.ch",
  "sameAs" : [
    "https://www.linkedin.com/in/silvanadrian",
    "https://twitter.com/silvnsan"
  ]
}
</script>
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "WebSite",
  "name" : "Silvan Adrian",
  "alternateName" : "Silvan",
  "url" : "https://silvanadrian.ch"
}
</script>
