/*

Page Wrapper

*/

.page-wrapper {
    margin:0 auto;
}

.page-content {
    margin:10px 0;
}

body {
    border-top:5px solid #121212;
    background:#f0efe8;
    font-size: 14px;
}

p {
    font-size:1.2em;
    line-height: 1.5em;
}

:focus {
    outline:0;
    color:#CCC;
}

/**
 * Site header
 */
.site-header {
    // Positioning context for the mobile navigation icon
    
}

.site-title {
    font-size: 90px;
    font-family: $titel-font;
    margin-bottom: 0;
    text-align: center;
    display: block;
    background: #FFF;
    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-title a {
     transition: color 0.2s ease-in 0s;
    -moz-transition: color 0.2s ease-in 0s;
    -webkit-transition: color 0.2s ease-in 0s;
}

.site-title a:link,.site-title a:visited {
    color:#37383b;
}

.site-title a:hover {
    color:#828282;
}

.menu-link {
    position: fixed;
    top:50px;
    right:50px;
}

.navbar-toggle .icon-bar {
    width: 30px;
    height:4px;
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 5px;
}

.site-logo {
    color:$grey-color-dark;
}

.site-title:hover,.site-blog-title:hover, .site-logo:hover {
    text-decoration: none;
}

.site-blog-title {
    font-size: 80px;
    font-family: $titel-font;
    text-align: center;
    letter-spacing: -1px;
    margin-bottom: -20px;
    display: block;
    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.hometitle {
    position: absolute;
    width:100%;
    text-align: center;
    color:#FFF;
}

.navbar-default {
    background: none;
    border:none;
}

.navbar {
    margin-top:10px;
}

.nav  {
    font-size: 1.4em;
}

.navbar-toggle {
    margin-right:15px;
}

.navbar-top {
    position: absolute;
    right:0;
}

.menu-brand {
    color:#FFF;
    margin-left: 10px;
}

.navmenu-nav i, .networks i {
    width:30px;
}

/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
    padding:100px 0;
    background:#FFF;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}


.contactfooter, .copyrightfooter {
    text-align: center;
}

.nav li a {
    color: #808080;
    transition: color 0.2s ease-in 0s;
    -moz-transition: color 0.2s ease-in 0s;
    -webkit-transition: color 0.2s ease-in 0s;
}


/**
 * Page content
 */

.page-heading {
    font-size: 20px;
}


.post {
    padding:0;
}

.post-list {
    margin:10px 0;
    margin-left: 0;
    background:#FFF;
    list-style: none;

    > li {
        margin-bottom: 0;
    }
}

.sidebar {
    margin:10px 0;
    background:#FFF;
}

.project-content {
    margin:10px 0;
}

.project-content img {
    width:100%;
}

.project-text {
    width:60%;
    margin-left: 20%;
}

.project-image {
    width:60%;
    margin-left:20%;
}

.project-full {
}

.project-half {
    width:50%;
}

.project-quarter {
    width: 25%;
}

.project-full img , .project-half img, .project-quarter img, .project-image img{
    width:100%;
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

/**
* Projects
**/

.project {
position: relative;
    margin:10px 0;
}


.project:hover .projectoverlay {
    opacity:1;
}

.projectoverlay {
    opacity: 0;
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background: #121212;
    z-index: 100;
    color:#FFF;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
}

.projectoverlay h2 {
      left: 50%;
    margin: auto;
    position: absolute;
    text-align: center;
    top: 48%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.project-list {
    list-style: none;
}

.project-heading {
    text-align: center;
}

.project img {
    width:100%;
}

.center-block {  
  float:none;
  margin-right: auto;  
  margin-left: auto;  
} 

/* Author */

.post-author-avatar {
position: relative;
float: left;
width: 100%;
overflow: hidden;
background: #fff;
-webkit-border-radius: 10em;
border-radius: 10em;
-webkit-box-sizing: border-box;
box-sizing: border-box;
-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.post-author-avatar img {
    width: 100%;
    margin: auto;
    -webkit-border-radius: 10em;
    border-radius: 10em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0.125em solid #fff;
}
.share {
    text-align: center;
}

.share a, .share a:visited {
    color:#121212;
    font-size:2.5em;
    margin:10px;
    transition: color 0.2s ease-in 0s;
    -moz-transition: color 0.2s ease-in 0s;
    -webkit-transition: color 0.2s ease-in 0s;
}

.share a:hover {
    color:royalblue;
    text-decoration: none;
}

.author {
    float:left;
    border-top:1px solid #CCC;
    border-bottom: 1px solid #CCC;
    padding:30px 0;
}

.authorname {
    font-family:'open_sanssemibold';
    padding:0;
    margin:0;
}

.author-meta  {
    padding-left: 0;
}

.author-meta a {
    color:#121212;
}

.author-meta li {
    display: inline;
}

/* Post */

.post-title a {
    color:#121212;
}

.post-index {
    border-bottom: 1px solid #CCC;
    padding-bottom: 50px;
    margin-bottom: 20px;
}

.post-meta {
    color:#828282;
}

.post-meta i {
    width:30px;
}

.post-excerpt, .post-content {
    margin-top:20px;
}

.post-content {
    margin-bottom:50px;
}

/* Archive Page Tag */

.tag-archive-header {
    text-align:center;
    text-transform: uppercase;
    margin-bottom:50px;
}

.archive {
    margin-bottom: 50px;
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($medium-devices) {
        font-size: 36px;
    }
}

.spacing {
    margin: 20px 0;
}

 @media only screen and (max-width : 480px) {
     .projectoverlay {
        display: none;
     }

}


 @media only screen and (max-width : 768px) {
     
          
     .aboutimage {
        float:none;
  margin-right: auto;  
  margin-left: auto;  
     }
     
     .abouttext {
         margin:20px 0;
         text-align: center;
     }
 }




