/**
 * Site header
 */
.site-header {
    //border-top: 5px solid $grey-color-dark;
    //border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
    background: #FFF;
    // Positioning context for the mobile navigation icon
    position: relative;
    padding:10px 20%;
    border-top:5px solid #121212;
}

.site-title {
    font-size: 90px;
    font-family: $titel-font;
    margin-bottom: 0;
    float:left;
    display: block;
    width:10%;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-title:hover,.site-blog-title:hover {
    text-decoration: none;
}

.site-blog-title {
    font-size: 90px;
    font-family: $titel-font;
    text-align: center;
    letter-spacing: -1px;
    margin-bottom: 0;
    display: block;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}



.site-nav {
    line-height: 56px;
    margin-top: 50px;
    float:right;
    font-size:1.3em;
    font-family: $nav-font;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }


}

.site-blog-nav {
    line-height: 56px;
    font-size:1.2em;
    text-align: center;
    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;
        
        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
    padding:100px 0;
    background:#FFF;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}


.contactfooter, .copyrightfooter {
    text-align: center;
}




/**
 * Page content
 */
.page-content {
    padding: 0 20%;
}

.page-heading {
    font-size: 20px;
}


.post {
    padding:10px 0;
}

.post-list, .project-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: 0;
    }
}

.project-content {
    
}

.project-text {
    width:60%;
    margin-left: 20%;
}

.project-image {
    width:60%;
    margin-left:20%;
}

.project-full {
}

.project-half {
    width:50%;
}

.project-quarter {
    width: 25%;
}

.project-full img , .project-half img, .project-quarter img, .project-image img{
    width:100%;
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

/**
* Projects
**/

.project {
    position: relative;
    padding:0;
}

.project-heading {
    text-align: center;
}



@media only screen and (min-width : 320px) {
        
    }



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($medium-devices) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($medium-devices) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($medium-devices) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($medium-devices) {
            font-size: 18px;
        }
    }
}


/* Media Queries */




@include media-query($large-devices) {
    .site-header {
        padding:10px 15%;
    }
    
    
     .post {
            padding:10px 0;
            
            
        }
    
    
     .post-list {
            
        }
    

}


@include media-query($medium-devices) {
     .site-header {
        padding:10px 10%;
    }
    
    body {
        font-size: 16px !important;
    }
    
   
    
    
}




@include media-query($tablets) {
       
    .site-nav {
            margin-top: 0;
       text-align: center;
        width:100%;
        display: block;
        }
    
        .site-title {
            width:100%;
            text-align: center;
        }
    
        .site-header {
            padding:10px 5%;
        }
     

        .page-link {
            display: inline;
            padding: 5px 10px;
        }
    

    

    
    
    }


@include media-query($small-devices) {

}


@include media-query($smartphone) {
    
   

}

