/*

Page Wrapper

*/

.page-wrapper {
    width:1170px;
    margin:0 auto;
}

/**
 * Site header
 */
.site-header {
    // Positioning context for the mobile navigation icon
    border-top:5px solid #121212;
    
}

.site-title {
    font-size: 170px;
    font-family: $titel-font;
    margin-bottom: 0;
    text-align: center;
    display: block;
    
    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.menu-link {
    position: fixed;
    top:50px;
    right:50px;
    
}

.site-logo {
    color:$grey-color-dark;
}

.site-title:hover,.site-blog-title:hover, .site-logo:hover {
    text-decoration: none;
}

.site-blog-title {
    font-size: 90px;
    font-family: $titel-font;
    text-align: center;
    letter-spacing: -1px;
    margin-bottom: 0;
    display: block;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}



.site-nav {
    line-height: 56px;
    font-size:1.3em;
    font-family: $nav-font;
    position: fixed;
    top:0;
    bottom:0;
    height:100%;
    right:-13.755em;
    width: 13.755em;
    background: #1a1a1a;
    padding-left:20px;
     -webkit-transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        -o-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
        -webkit-transition: 0.15s ease;
        -moz-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: 0.15s ease;
    .page-link {
        color: #808080;
        line-height: $base-line-height;
        display: block;
        // Gaps between nav items, but not on the first one
      
    }


}


.site-nav.active {
       
}

.container {
       -webkit-transform: translate(0px, 0px);
       -moz-transform: translate(0px, 0px);
       -o-transform: translate(0px, 0px);
       -ms-transform: translate(0px, 0px);
       transform: translate(0px, 0px);
       -webkit-transition: 0.15s ease;
       -moz-transition: 0.15s ease;
       -o-transition: 0.15s ease;
       transition: 0.15s ease;  
}

.container.active {
     -webkit-transform: translate(-13.725em, 0px);
       -moz-transform: translate(-13.725em, 0px);
       -o-transform: translate(-13.725em, 0px);
       -ms-transform: translate(-13.725em, 0px);
       transform: translate(-13.725em, 0px);
}


.site-blog-nav {
    line-height: 56px;
    font-size:1.2em;
    text-align: center;
    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;
        
        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
    padding:100px 0;
    background:#FFF;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}


.contactfooter, .copyrightfooter {
    text-align: center;
}




/**
 * Page content
 */
.page-content {
    border-top:1px dashed #CCC;
}

.page-heading {
    font-size: 20px;
}


.post {
    padding:10px 0;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: 0;
    }
}

.project-content {
    
}

.project-text {
    width:60%;
    margin-left: 20%;
}

.project-image {
    width:60%;
    margin-left:20%;
}

.project-full {
}

.project-half {
    width:50%;
}

.project-quarter {
    width: 25%;
}

.project-full img , .project-half img, .project-quarter img, .project-image img{
    width:100%;
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

/**
* Projects
**/

.project {
    position: relative;
    padding:0;
    margin:20px 0;
}

.project:hover .projectoverlay {
    opacity:1;
}

.projectoverlay {
    opacity: 0;
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background: #121212;
    z-index: 100;
    color:#FFF;
    transition: all 0.4s ease-in-out 0s;
}

.projectoverlay h2 {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.project-list {
    list-style: none;
}

.project-heading {
    text-align: center;
}

.project img {
    width:100%;
}



@media only screen and (min-width : 320px) {
      
      
    
       
    }



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($medium-devices) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($medium-devices) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($medium-devices) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($medium-devices) {
            font-size: 18px;
        }
    }
}


/* Media Queries */




@include media-query($large-devices) {

     .post {
            padding:10px 0;
            
            
        }
    
    
     .post-list {
            
        }
    
      .site-nav {
            font-size:1em;
        }
    
     .page-content {
            padding: 0 0;
        }
    
    
        .project {
            margin:20px 2%;
        }
    
   

}


@include media-query($medium-devices) {
 
    
    body {
        font-size: 16px !important;
    }
    
   
    
    
}




@include media-query($tablets) {
       
    .site-nav {
            margin-top: 0;
       text-align: center;
        width:100%;
        display: block;
        }
    
        .site-title {
            width:100%;
            text-align: center;
        }
     

        .page-link {
            display: inline;
            padding: 5px 10px;
        }
    

    

    
    
    }


@include media-query($small-devices) {

}


@include media-query($smartphone) {
    
   

}

