---
layout: default
---
<section class="container">

    {% if page.image %}
    <section class="row">
        <div class="col-sm-5 col-xs-8 aboutimage">
           <img src="{{ page.image }}"/>
        </div>


    </section>

 <section class="col-sm-8 col-xs-12 abouttext center-block">
        <article class="post-content">
    {{ content }}
  </article>

    </section>

    {% else %}
 <section class="col-lg-8 col-sm-8 col-xs-12 center-block">
        <article class="post-content">
    {{ content }}
  </article>

    </section>
    {% endif %}

</section>
