<!DOCTYPE html>
<html lang="{{page.lang}}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <article itemscope="" itemtype="http://schema.org/Article" class="post">

      <!-- Post Date -->
      <div class="post__date">
        {% include date.html date=page.date %}
        <time itemprop="datePublished" content="{{page.date}}" datetime="{{page.date format='YYYY-MM-DD'}}">
          {{ day }}{% if page.lang == 'en' %}{{ sup }} {% else %}. {% endif %} {{ month }} {{ year }}
        </time>
      </div>
      <!-- Post Date -->

      <div itemprop="post__publisher" itemscope itemtype="https://schema.org/Person">
        <meta itemprop="name" content="Silvan Adrian">
      </div>


      <!-- Post Content -->
      <section itemprop="articleBody" class="post__content">
          {{content}}
      </section>
      <!-- Post Content -->




    <div class="post__comments">
      {% include disqus.html %}
    </div>


  </article>

    {% include footer.html %}

  </body>

</html>
