---
layout: default
--- 
<article class="page-content">
<div class="row">
<div class="col-lg-9">
<img src="{{ page.sideimage }}">    
</div>
<div class="col-lg-3">
  
          {{ content }}
  
</div>
</div>
<div class="row">
    {% for image in page.image %}   
        <div class="text-center {{image.align}} col-lg-{{image.lgsize}} col-md-{{image.mdsize}} col-sm-{{image.smsize}} col-xs-{{image.xssize}}">
            <img src="{{image.url}}"/>
        </div>
    {%endfor%}

</div>    

</article>