---
layout: default
title: Projects
---

<div class="container" itemscope="" itemtype="http://schema.org/CollectionPage">
<div class="row">
  <ul class="project-list">
    {% assign projects = site.projects | sort: 'date' | reverse %}
    {% for project in projects %}
      <li class="col-lg-{{project.frontimage.lgsize}} col-md-{{project.frontimage.mdsize}} col-sm-{{project.frontimage.smsize}} col-xs-{{project.frontimage.xssize}}">
          <div class="project">
         <a itemprop="url" href="{{project.url}}">
           <img itemprop="thumbnailURL" src="{{ project.frontimage.url }}" alt="{{ project.title }}">
          <div class="projectoverlay"><h2 itemprop="name">{{project.title}}</h2></div>

          </a>
          </div>
      </li>


    {% endfor %}
  </ul>
</div>
</div>
