---
layout: default
--- 
<article class="page-content col-lg-10 center-block">
<div class="row">
<h2 class="abouttitle">{{page.title}}</h2>

    <img class="center-block" src="{{ page.sideimage }}">

{{ content }}
</div>
<div class="row">
    {% for image in page.image %}   
        <div class="text-center {{image.align}} col-lg-{{image.lgsize}} col-md-{{image.mdsize}} col-sm-{{image.smsize}} col-xs-{{image.xssize}}">
            <img src="{{image.url}}"/>
        </div>
    {%endfor%}

</div>    

</article>