<!DOCTYPE html>
<html lang="{{page.lang}}">

  {% include head.html %}

  <body>

    {% include header.html %}


      <article itemscope="" itemtype="http://schema.org/Article" class="project">

          <div itemprop="project__publisher" itemscope itemtype="https://schema.org/Person">
            <meta itemprop="name" content="Silvan Adrian">
          </div>


          <section itemprop="articleBody" class="project__content">
              {{content}}
          </section>
          {% if page.sideimage %}
            <img class="project__image" src="{{page.sideimage}}" alt="{{page.title}}">
          {% endif %}
        </article>


    {% include footer.html %}

  </body>

</html>
